table{
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed; 
}

.fixed-row{
  position: fixed;
  top: 143px;
  background-color: white;
}

.spreadsheet-table {
  overflow-y: auto; 
  height: 100%;
  margin-top: 169px; 
}



.spreadsheet-table th, .spreadsheet-table td ,.fixed-row th, .fixed-row td{
  border: 1px solid #ccc; /* Add border to cells */
  padding: 1px; /* Add padding to cells */
}

.spreadsheet-table th:first-child,
.spreadsheet-table td:first-child ,
.fixed-row th:first-child,
.fixed-row td:first-child {
  width: 40px; /* Set width for the first cell in each row */
  text-align: center;
  font-size: 15px;
}

.spreadsheet-table th:not(:first-child),
.spreadsheet-table td:not(:first-child),
.fixed-row th:not(:first-child),
.fixed-row td:not(:first-child) {
  width: 100px;
}

.spreadsheet-table input {
  box-sizing: border-box;
  padding: 6px;
  width: 100px; 
  border: none; /* Remove input border */
  outline: none; /* Remove outline on focus */
}

.spreadsheet-table input:focus {
  border: none;
  outline: none; /* Remove outline on focus */
}



td:focus-within {
  outline: 2px solid rgb(11 87 208); /* Light blue outline for cells with focus within */
}